<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Setu!</title>
    <script src="/setu/static/jquery-3.5.1.min.js"></script>
</head>
<body>
    pid: {{pid}} p{{p}}<br />
    uid: {{uid}}<br />
    标题: {{title}}<br />
    作者: {{author}}<br />
    原地址: <a href = "https://www.pixiv.net/artworks/{{pid}}" target="_blank">https://www.pixiv.net/artworks/{{pid}}</a><br />
    <form id="send{{pid}}" onsubmit="return false" action="" method="post">
        <input type="hidden" name="url" value="{{img_url}}">
        <input type="hidden" name="pid" value="{{pid}}">
        <input type="hidden" name="p" value="{{p}}">
        <input type="hidden" name="title" value="{{title}}">
        <input type="hidden" name="author" value="{{author}}">
        <select name="group_id">
        {% for group in groups %}
            <option value="{{group['group_id']}}">{{group['group_name']}}({{group['group_id']}})</option>
        {% endfor %}
        </select>
        <button onClick="send({{pid}})">发送到群</button><div id="info{{pid}}"></div>
    </form>
    原图:<br />
    <img style="width:50%;" src="{{pixiv_cat_url}}">

<script>
    function send(pid) {
        $("#info" + pid).html("发送中或已发送等待撤回")
        $.ajax({
            type: "post",
            url: "/setu/acgmxsend",
            dataType: "text",
            data: $("#send" + pid).serialize(),
            success: function(result){
                console.log(result)
                $("#info" + pid).html(result)
            },
            error: function(){
                console.log("异常！")
                $("#info" + pid).html("发送失败")
            }
        });
    }
</script>
</body>
</html>